@font-face {
    font-family: "Familiar Pro Bold";
    src: url(FamiliarproBold.otf);
}

body {
    background-color: #f8fafc;
    margin: 0px;
}

.container {
    padding: 1rem;
}

a {
    font-family: "familiar pro bold";
    font-size: larger;
    text-align: center;
    color: white;
    text-decoration: none;
    text-align: right;
    margin-right: 10px;
}

.gallery {
    margin-left: 125px;
    width: 155px; /* Decreased initial width */
    display: inline-block;
    transition: transform 0.3s ease; /* Add transition for transform */
}

.gallery:hover {
    transform: scale(1.1); /* Increased scale on hover */
}

.gallery .Description {
    padding: 10px;
    text-align: center;
    font-size: larger;
}

.gallery img {
    width: 100%; /* Ensures the image fills the container horizontally */
    height: auto; /* Allows the image to maintain its aspect ratio */
}

.gallery1 {
    margin-left: 125px;
    margin-top: 125px;
}
